label {
    font-family: "Helvetica", arial, sans-serif;
    font-size: 14px;
    float: left;
    font-weight: bold;
}

form h1 {
    font-family: sans-serif, Arial, Helvetica;
    font-size: 18px;
    text-align: center;
}

input {
    color: #95a5a6;
    background:#ecf0f1;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input[type=text], input[type=password], input[type=email], select {
    width: 100%;
    padding: 5px;
    /* padding: 12px 20px; */
    /* margin: 8px 0; */
    margin: 4px 0 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Removes the clear button from date inputs */
input[type="date"]::-webkit-clear-button {
    display: none;
}

/* Removes the spin button */
input[type="date"]::-webkit-inner-spin-button { 
    display: none;
}

/* Always display the drop down caret */
input[type="date"]::-webkit-calendar-picker-indicator {
    color: #2c3e50;
}

/* A few custom styles for date inputs */
input[type="date"] {
    appearance: none;
    -webkit-appearance: none;
    color: #95a5a6;
    font-family: "Helvetica", arial, sans-serif;
    font-size: 18px;
    border:1px solid #ccc; 
     /* #ecf0f1; */
    background:#ecf0f1;
    padding:5px;
    display: inline-block !important;
    visibility: visible !important;
    width: 100%;
    margin: 4px 0 8px 0;
}

input[type="date"], focus {
    color: #95a5a6;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}